{% extends 'base.html.twig' %}

{% block title %}Bravo !
{% endblock %}

{% block body %}
	<h1>
		Bravo ! Merci pour votre inscription.
	</h1>

	<p>
		<a href="{{ path('app_index') }}" class="btn btn-success">Retour à l'accueil</a>
	</p>
{% endblock %}
