{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Accueil
{% endblock %}

{% block body %}
	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ label }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}

	<h1>ARTICLES</h1>

	<div>
		{% for article in articles %}
			<p>{{ article.title }}</p>
		{% else %}
			<div>Aucun article trouvé</div>
		{% endfor %}
	</div>
{% endblock %}
