{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Accueil
{% endblock %}

{% block body %}
	{# app.flashes #}

	<div class="alert alert-warning">
		Notification
	</div>

	<h1>ARTICLES</h1>

	<div>
		{% for article in articles %}
			<p>{{ article.title }}</p>
		{% else %}
			<div>Aucun article trouvé</div>
		{% endfor %}
	</div>
{% endblock %}
